{% extends "base.html" %}

{% block content %}

<br>
<h2>Recipes:</h2>
<div class="row row-cols-1 row-cols-md-4 g-3">

    {% for recipe in search_recipes %}
    <div class="col">
        <div class="card h-100">
            <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">{{ recipe.instructions }}</p>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}